article{
	width: 1302px;
	margin: 0px auto;
}

.img-info{
	width: 1300px;
	height: 350px;
	margin: 0px auto;
	padding-top: 20px;
	border: 1px solid #ccc;
}

.imgbox{
	width: 648px;
	height: 298px;
	padding: 5px 0px 5px 0px;
	float: left;
	/* border: 1px solid red; */
}

.imgbox img{
	width: 648px;
}

.info{
	width: 608px;
	height: 298px;
	padding: 5px 20px 5px 20px;
	float: left;
	/* border: 1px solid red; */
}

.info-high{
	width: 608px;
	height: 98px;
	text-align: center;
	margin-bottom: 15px;
}

.carName{
	font-size: 1.3em;
	font-weight: bold;
}

.info-mid{
	width: 608px;
	height: 98px;
}

.sales{
	width: 608px;
	height: 25px;
	font-size: 0.9em;
	margin-left: 155px;
}

.selectbox{
	width: 608px;
	height: 50px;
	margin-top: 10px;
	text-align: center;
}

.info-mid select{
	width: 300px;
	height: 25px;
}

.info-row{
	width: 608px;
	height: 98px;
	text-align: center;
}

.info-row input[type=submit]{
	width: 80px;
	height: 40px;
	margin-right: 10px;
}

.info-row input[type=button]{
	width: 80px;
	height: 40px;
	margin-left: 10px;
}

.info-detail{
	width: 1300px;
	margin: 0px auto;
	margin-top: 30px;
	padding: 20px 0;
	border: 1px solid #ccc;
}

.tabs{
	padding-left: 20px;
}

h2{
	margin: 20px 0 10px 30px;
}

.tab_container{
	clear: both;
	width: 1250px;
	border: 1px solid #ccc;
}

table tr{
	height: 60px;
}

table tr td{
	padding-bottom: 20px;
	width: 600px;
	text-align: center;
	/* border: 1px solid red; */
}