article{
	width: 1300px;
	margin: 0px auto;
}

.img-info{
	width: 800px;
	margin: 0px auto;
}

.imgbox{
	width: 398px;
	padding: 5px 0px 5px 0px;
	float: left;
}

.imgbox img{
	width: 398px;
}

.info{
	width: 358px;
	padding: 5px 20px 5px 20px;
	float: left;
}

.info-high{
	text-align: center;
}

.carName{
	font-size: 1.3em;
	font-weight: bold;
}