article{
	width: 1302px;
	margin: 0px auto;
}

.img-info{
	width: 1300px;
	height: 350px;
	margin: 0px auto;
	padding-top: 20px;
	border: 1px solid #ccc;
}

.imgbox{
	width: 648px;
	height: 330px;
	padding: 5px 0px 5px 0px;
	float: left;
	/* border: 1px solid red; */
}

.imgbox img{
	width: 550px;
	margin: 10px 10px 10px 50px;
	/* border: 1px solid red; */
}

.info{
	width: 608px;
	height: 300px;
	padding: 40px 20px 5px 20px;
	float: left;
	/* border: 1px solid red; */
}

.info-high{
	width: 608px;
	height: 98px;
	text-align: center;
	margin-bottom: 15px;
}

.carName{
	font-size: 1.3em;
	font-weight: bold;
}

.info-mid{
	width: 608px;
	height: 28px;
	margin-top:60px;
	margin-bottom: 20px;
	text-align: center;
}

.sales{
	width: 608px;
	height: 25px;
	font-size: 0.9em;
}

.info-row{
	width: 608px;
	height: 98px;
	text-align: center;
}

.info-row input[type=submit]{
	width: 80px;
	height: 40px;
	margin-right: 10px;
}

.info-row input[type=button]{
	width: 80px;
	height: 40px;
	margin-left: 10px;
}

.info-detail{
	width: 1300px;
	margin: 0px auto;
	margin-top: 30px;
	padding: 20px 0;
	border: 1px solid #ccc;
}

.tabs{
	padding-left: 20px;
}

h2{
	margin: 20px 0 10px 30px;
}

.tab_container{
	clear: both;
	width: 1250px;
	border: 1px solid #ccc;
}

.tbl1 tr{
	height: 60px;
}

.tbl1 tr td{
	padding-bottom: 20px;
	width: 600px;
	text-align: center;
	/* border: 1px solid red; */
}

.tbl2{
	width: 1250px;
	height: 550px;
	border: 1px solid #ccc;
}

.tbl2 tr td:first-child {
	width: 198px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	padding-left: 25px;
	font-size: 1.1em;
}

.tbl2 tr td:last-child {
	border-bottom: 1px solid #ccc;
	padding-left: 35px;
	font-size: 1.1em;
}