.wrapper{
	width: 1300px;
	margin: 50px auto;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: pink;
}

.wrap-category{
}

.category{
	width: 836px;
	height: 142px;
	text-align: center;
	/* border: 1px solid green;
}

.company{
	float: left;
	margin: 20px;
	/* border: 1px solid red; */
}

.company li{
	list-style: none;
	float: left;
	margin: 10px;
	margin-top:31px;
	height: 80px;
	width: 80px;
	line-height: 100%;
	background-color: white;
	/* border: 1px solid blue; */
}

.company li:hover{
	cursor: pointer;
}

img{
	width: 78px;
}