.wrapper{
	/* width: 1300px; */
	margin: 50px auto;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #bbb;
	/* background-color: pink; */
}

.wrap-category{
}

.category{
	/* width: 836px; */
	height: 142px;
	margin-left: 365px;
	padding-left: 17px;
	/* text-align: center; */
	/* border: 1px solid green;
}

.company{
	float: left;
	margin: 20px;
	/* border: 1px solid red; */
}

.company li{
	list-style: none;
	float: left;
	margin: 21px 30px 20px 30px;
	height: 80px;
	width: 80px;
	line-height: 100%;
	background-color: white;
	/* border: 1px solid blue; */
}

.company li:hover{
	cursor: pointer;
}

img{
	width: 100px;
}