footer{
	/* width: 1300px; */
	padding: 20px 0;	
	margin: 10px auto;		
	border-top: 1px solid #ccc;
	clear: both;
}

footer address{
	width: 700px;
	height: 70px;
	margin: 10px auto;	
	text-align: center;		
	font-style: normal;
	line-height: 1.8em;
}