*{
	margin: 0px auto;
	padding: 0px;
}

header{
	height:160px;
	margin: 50px 0 0 0;
	padding-bottom: 50px;
	border-bottom: 1px solid #dfdfdf;
}

.wrap-header{
	width: 1300px;
	height: 150px;
	text-align: center;
	/* border: 1px solid black; */
}

.logo{
	width: 496px;
	height: 148px;
	margin: 0px auto;
	margin-left: 400px;
	float: left;
	text-align: center;
	/* border: 1px solid blue; */
}

.logo img{
	width: 450px;
}

.logo img:hover{
	cursor: pointer;
}

.member{
	width: 400px;
	height: 148px;
	float: left;
	/* border: 1px solid red; */
}

.member-sign{
	height: 73px;
	/* border: 1px solid green; */
}

.member-sign a{
	margin: auto 10px auto 0;
	float: right;
	text-decoration: none;
	line-height: 73px;
}

.member-info{
	height: 73px;
	/* border: 1px solid green; */
}

.member-info a{
	margin: auto 10px auto 0;
	float: right;
	text-decoration: none;
	line-height: 20px;
}