article{
	width: 1580px;
}

.bar--positive {
  fill: darkorange;
}

.bar--negative {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.chartByGender{
	width: 1300px;
	height: 650px;
	/* border: 1px solid #ccc; */
}

.chartByGender h2{
	text-align: center;
	margin: 40px 0 10px 0;
}

.wrap-chart{
	width: 960px;
	height: 500px;
}

.chartByGender label{
	float: left;
	font-size: 20px;
	margin: 0 0 0 400px;
}