article{
	width: 1580px;
}
.age-comp{
	width: 1300px;
	height: 410px;
	margin: 0 auto;
	/* border: 1px solid #ccc; */
}
h2{
	width: 235px;
	margin-top: 50px;
}
#dashboard{
	width: 1060px;
	height: 304px;
	margin-left: 200px;
}
path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}