<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cars.dao.CarDao">
	<select id="getCar" resultType="carVo">
		SELECT * FROM car
		ORDER BY carsale DESC limit 8
	</select>
	
	<select id="allCar" resultType="carVo">
		SELECT * FROM car
		ORDER BY carNo 
	</select>
	
	<select id="getCarInfo" resultType="carVo">
		SELECT * FROM car
		WHERE carNo = #{carNo}
	</select>
	
	<select id="searchComp" resultType="carVo">
		SELECT * FROM car
		WHERE carComp = #{carComp}
		ORDER BY carNo DESC
	</select>
	
	<insert id="buyCar">
		INSERT INTO buy(mNo,carNo)
		VALUES(#{mNo},#{carNo})
	</insert>
	
	<update id="saleCountUp">
		UPDATE car SET carsale = carsale + 1
		WHERE carNo = #{carNo}
	</update>
	
	<select id="getBuyInfo" resultType="BuyInfoVo">
		SELECT car.*,orderdate FROM car,buy
		WHERE car.carNo = buy.carNo and buy.mNo = #{mno}
	</select>
	
	<select id="searchCar" resultType="carVo">
		SELECT * FROM car
		WHERE (carName LIKE CONCAT('%',#{keyword},'%')
		OR carComp LIKE CONCAT('%',#{keyword},'%')
		OR carSize LIKE CONCAT('%',#{keyword},'%')
		OR carFuel LIKE CONCAT('%',#{keyword},'%'))
	</select>
</mapper>





